html {
  background: #100E12;
  color: #FFFFFF;
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  background: #1F0342;
}

button {
  background: #E1FF00;
  color: #100E12;
}

input {
  background: #2A0B55;
  border: 1px solid #3B1A66;
}

a {
  color: #E0D012;
}